---
layout: default
title: Hello!
---

<div class='content text-dark'>
  <div class='row'>
    <div class='col-12 col-lg-6'>
      <figure class='figure w-100 text-center'>
        <img class='figure-img img-fluid rounded-lg mb-2' src='/assets/images/julio.jpg'>
        <figcaption class='figure-caption text-center'>Thun (Switzerland), August 2023</figcaption>
      </figure>
    </div>

    <div class='col-12 col-lg-6 text-justify'>
      <h1>Oh, hey there! 👋</h1>

      <p>
        I'm Julio (with a <em><a href='https://youtu.be/2c5_dK8IKUw?t=98' target='_blank'>hard j</a></em>,
        please), thanks for visiting this "personal" site!
      </p>

      <p>
        I live in Seville (Spain) and since 2011 I've been working in
        <strong>web development</strong>, with a strong specialization in
        <strong>Ruby on Rails</strong>, both as a full time employee and a contractor.
      </p>

      <p>
        I've been <strong>full remote since 2013</strong>, with experience with Spanish, UK and US
         companies. I firmly believe that with proper organization and communication from all
         parties, remote <em>is</em> the way to go in the IT industry.
      </p>

      <p>
        What motivates me? Here's a few: <strong>projects with real positive social impact</strong>,
        technology at the service of the people, <strong>learning</strong> and applying new skills and
        concepts, patterns and techniques when coding, <strong>architecture</strong> and systems design, clean code, taming
        legacy codebases, teaching and <strong>mentoring</strong> others.
      </p>

      <p>
        In my spare time I play bass in <strong>CARVING COLOURS</strong>,
        a <em>progressive metal</em> band. Since we started in 2010 we've independently released a couple of albums, which
        are available for purchase (<em>wink, wink</em>) on
        <a href='https://carvingcolours.bandcamp.com' target='_blank'>Bandcamp</a> as well as on
        <a href='https://open.spotify.com/artist/7rBW459xWS4p4pu8byCdmI' target='_blank'>Spotify</a>
        or <a href='https://music.apple.com/us/artist/carving-colours/734436720' target='_blank'>Apple Music</a>.
      </p>

      <p class='text-center'>
        Think I can help you out with a project?
        <a class='text-center'
          href='mailto:julio.antequera.galiano@gmail.com?subject=Website Enquiry'
          target='_blank'>
          Let's talk!
        </a>
      </p>
      </div>
    </div>
  </div>
</div>
