<footer class='footer bg-dark text-light mt-auto py-3'>
  <div class='container-fluid text-end'>
    <p class='mb-0'>Find me on 
      <a href='https://gitlab.com/julitrows' target='_blank'>GitLab</a>,
      <a href='https://github.com/jantequera' target='_blank'>GitHub</a>,
      <a href='https://twitter.com/julitrows' target='_blank'>Twitter</a> or 
      <a href='https://linkedin.com/in/julitrows' target='_blank'>LinkedIn</a>.
    </p>
    <p class='mb-0'>Built with 
      <a href='http://jekyllrb.com/' target='_blank'>Jekyll</a>,
      <a href='https://getbootstrap.com/'>Bootstrap 5.3</a> and
      <a href='https://docs.gitlab.com/ee/user/project/pages/' target='_blank'>Gitlab Pages</a>.
    </p>
  </div>
</footer>
