<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% feed_meta %}
  <title>{{site.name}} - {{ page.title }}</title>
  {% include header/favicon.html %}
  {% include header/stylesheets.html %}
</head>
