<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container-fluid'>
  <a href='/' class='navbar-brand'>
    <img src='/assets/images/profile.jpg'
         width='30'
         height='30'
         class='d-inline-block align-top rounded-circle'
         alt='my ugly mug'>
    {{site.name}}
  </a>

  <button class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarSupportedContent'
          aria-controls='navbarSupportedContent'
          aria-expanded='false'
          aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item'>
        <a class='nav-link' href='/resume'>Resumé</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/blog'>Blog</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
