<h3>Julio Antequera Galiano</h3>

<div><strong>Location:</strong> Seville (Spain)</div>
<div><strong>Languages:</strong></div>
<ul>
  <li>Spanish (native)</li>
  <li>English (proficient written and spoken)</li>
</ul>
<div><strong>Contact:</strong></div>
<ul class="card-panel">
  <li><a href="mailto:julio.antequera.galiano@gmail.com" target="_blank">julio.antequera.galiano@gmail.com</a></li>
  <li><a href="https://github.com/jantequera" target="_blank">github.com/jantequera</a></li>
  <li><a href="https://linkedin.com/in/jantgal" target="_blank">linkedin.com/in/jantgal</a></li>
  <li><a href="https://julitrows.gitlab.io" target="_blank">julitrows.gitlab.io</a></li>
</ul>
<hr>
