<h5>{{ education.title }}</h5>
<h6>{{ education.date | date: "%B %Y" }} to {{ education.finish | date: "%B %Y" }}</h6>

<p class="institution">
  <a href="{{education.link}}" target="_blank">{{ education.institution }}</a>
</p>

<p class="job-description">{{ education.content }}</p>
