<div class='job-container mb-4'>
  <h4><a href="{{job.link}}" target="_blank">{{job.title}} at {{ job.company }}</a></h4>
  <h5>{{ job.date | date: "%B %Y" }} to {{ job.finish | date: "%B %Y" }}</h5>
  <p class="location">{{ job.location }}</p>
  <div class="job-description">{{ job.content }}</div>

  {% if job.projects %}
    <div class="projects">
      {% for project in job.projects %}
        {% for link in project %}
          {% if link[1] %}
            {% assign href = link[1] %}
          {% else %}
            {% assign href = '#!' %}
          {% endif %}
          <a class="badge rounded-pill text-bg-secondary" href="{{href}}" target="_blank">{{ link[0] }}</a>
        {% endfor %}
      {% endfor %}
    </div>
  {% endif %}

  {% if job.technologies %}
    <div class="technologies">
      {% for technology in job.technologies %}
        <span class="badge text-bg-dark">{{ technology }}</span>
      {% endfor %}
    </div>
  {% endif %}
</div>
