---
layout: default
title: Blog
---

{% assign collection = site.categories['development'] %}
{% assign index = 0 %}
{% assign top_post = collection[index] %}

<div class='content text-dark'>
  <div class='row'>
    <div class='col-12 col-lg-4 border-right'>
      <h1>{{top_post.title}}</h1>
      <h5>Published on: {{top_post.date | date_to_string }}</h5>
      <div class='tags-container mb-2'>
        {% for tag in top_post.tags %}
          <span class='badge badge-dark'>{{tag}}</span>
        {% endfor %}
      </div>
    </div>
    <div class='col-12 col-lg-8'>
      {{top_post.content}}
    </div>
  </div>

  <hr>

  {% assign index = index | plus:1 %}
  {% assign times = collection | size | divided_by:2 | plus:1 %}

  {% for time in (1..times) %}
    <div class='row'>
      {% for post in collection limit: 2 offset: index %}
        <div class='col-12 col-lg-6'>
          <div class='card mb-2 mt-2'>
            <div class='card-body'>
              <a href='{{ post.url }}'>
                <h5 class='card-title'>{{ post.title }}</h5>
              </a>
              <h6 class='card-subtitle mb-2'>{{ post.date | date_to_string }}</h6>
              <p class='card-text'>
                {{post.content | strip_html | replace: '&nbsp;', ' ' | truncate: 160}}
                <a class='card-link' href='{{ post.url }}'>Read on!</a>
              </p>
            </div>
          </div>
        </div>
        {% assign index = index | plus:1 %}
      {% endfor %}
    </div>
  {% endfor %}

</div>
