<!--Import Bootstrap 5.3.3-->
<link type='text/css'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH'
      crossorigin='anonymous'>

<!--Import our css-->
<link type='text/css'
      rel='stylesheet'
      media='all'
      href='/assets/stylesheets/styles.css'>

<!--Code Syntax highlighting-->
<link type='text/css'
      rel='stylesheet'
      media='all'
      href='/assets/stylesheets/rouge_native.css'>

<!--Let browser know website is optimized for mobile-->
<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
