<!DOCTYPE html>
<html class='h-100' lang='en'>
  {% include head.html %}

  <body class='bg-secondary d-flex flex-column h-100'>
    {% include nav.html %}

    <main class='container bg-light flex-shrink-0 mt-4 mb-4'>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>

  {% include javascript.html %}
</html>
