---
layout: default
---

<div class='content text-dark'>
  <div class='row'>
    <div class='col-12 col-lg-4 border-right'>
      <h1>{{page.title}}</h1>
      <h5>Published on: {{page.date | date_to_string }}</h5>
      <div class='tags-container mb-2'>
        {% for tag in page.tags %}
          <span class="badge badge-dark">{{tag}}</span>
        {% endfor %}
      </div>
    </div>
    <div class='col-12 col-lg-8'>
      {{page.content}}
    </div>
  </div>
</div>
