---
layout: default
---

<div class='content text-dark'>
  <div class='row'>
    <div class='col-12 col-lg-4 border-right'>
      <section class="contact">
        {% include resume/contact.html %}
      </section>

      <section class="education">
        {% for education in site.categories['edu'] %}
          {% include resume/education.html education=education %}
        {% endfor %}
      </section>

      <section class="other">
        <h5 class="center">Other</h5>
        <ul>
          {% for info in site.categories['info'] %}
            <li>{% include resume/other.html info=info %}</li>
          {% endfor %}
        </ul>
      </section>
      <hr>
    </div>
    <div class='col-12 col-lg-8'>
      <section class="jobs">
        <h3 class="center">Work Experience</h3>
        {% for job in site.categories['resume'] %}
          {% include resume/job.html job=job %}
        {% endfor %}
      </section>
    </div>
  </div>
</div>
